:root {
  --font-family: 'Montserrat', sans-serif;
  --platinum: #F1FAEE;
  --gunmetal: #262626;
  --blue: #7EA3CC;
  --lapis: #255C99;

  --timing: 300ms;
  --scale: .9
}

body {
  background-color: var(--gunmetal);
  color: var(--platinum);
  font-family: var(--font-family);
  margin: 0;
  line-height: 1.1;
  box-sizing: border-box;
  min-width: fit-content;
}

/* NAVBAR */

.brand-con {
  margin: 0px -565px 0px 18px;
}

.brand {
  color: var(--platinum)!important;
  font-size: 37px;
  padding-top: 1px;
}

.navbar {
  background-color: var(--gunmetal);
  position: sticky;
  top: 0;
  transition: top 0.3s;
  opacity: 100%;
  border-bottom: 2px solid var(--platinum);
}



.nav-link {
  color: var(--platinum)!important;
  font-size: 18px;
  padding: 1rem;
  text-decoration: none;
  
}

.nav-link.active {
  color: var(--lapis);
}

.navbar-nav {
  padding: 2px;
  opacity: 100%;
  text-align: center;
  
}

/* HOME */
.home-div {
  background: var(--gunmetal);
  margin: auto;
  padding: 2rem 2rem 2rem 2rem;
  width: 90%;
}

.home-container {
  background-color: var(--gunmetal);
  width: 90%;
  justify-content: space-around;
}

.home-title {
  background: var(--gunmetal);
  padding: 2rem 2rem 2rem 2rem;
  color: var(--lapis);
  text-align: center;
  margin-bottom: 53px;

}

.home-rows {
  text-align: center;
}

.random-card {
  background-color: #262626;
  border: solid 3px var(--platinum);
  border-radius: 10px;
}

.random-title {
  color: var(--platinum);
  padding-bottom: 19px;
  font-size: 25px;
}

.random-text {
  color: var(--blue);
  padding-bottom: 10px;
}

.random-button  {
  background-color: var(--blue);
  border: solid 3px var(--lapis);
}

.random-button:hover {
  background-color: var(--lapis);

}

/* FOOTER */

footer {
  background: var(--gunmetal);
  padding: 2rem 2rem 2rem 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer h4 {
  color: var(--platinum);
  font-size: 18px;
  font-weight: lighter;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0 auto;
  text-align: center;
  transition: all 0.5s ease-out;
}

footer h4:hover {
  color: var(--blue);
}


/* SOCIAL MEDIA ICONS */

.social-container {
  width: 100%;
  margin: 2rem;
  text-align: center;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.list-item {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
  
}

.social-icons i {
  color: var(--lapis);
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all var(--timing) ease-out;
  
}

.social-icons a {
  display: inline-block;
  color: var(--platinum);
  text-decoration: none;
}

.social-icons a:before {
  transform: scale(var(--scale));
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, var(--platinum), var(--blue));
  transition: all var(--timing) ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all var(--timing) ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  color: var(--platinum);
  background: -webkit-linear-gradient(45deg, var(--blue), var(--lapis));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all var(--timing) ease-in;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
