:root {
  --font-family: 'Montserrat', sans-serif;
  --platinum: #eae2b7;
  --gunmetal: #001E2E;
  --blue: #f77f00;
  --lapis: #d62828;
  --yellow: #fcbf49;

  --timing: 300ms;
  --scale: .9
}

body {
  background-color: var(--gunmetal);
  color: var(--platinum);
  font-family: var(--font-family);
  margin: 0;
  line-height: 1.1;
  box-sizing: border-box;
  min-width: fit-content;
}

.contacts p {
  margin: 0 auto;
  line-height: 2;
}

.intro a,
.contacts a,
.btn {
  color: var(--platinum);
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.intro a:hover,
.jobs a:hover,
.project-card a:hover,
.contacts a:hover,
.side-email a:hover,
.btn:hover {
  color: var(--platinum);
}

/* NAVBAR */

.brand-con {
  margin: 0px -565px 0px 18px;
}

.brand {
  color: var(--platinum)!important;
  font-size: 37px;
  padding-top: 1px;
  text-shadow: 2px 2px var(--blue);
  
}

.navbar {
  background-color: var(--gunmetal);
  position: sticky;
  top: 0;
  transition: top 0.3s;
  opacity: 100%;
  border-bottom: .5px solid var(--platinum);
}

.nav-item li {
  color: var(--platinum)!important;
  font-size: 18px;
  padding: 1rem;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}



.nav-link {
  color: var(--platinum)!important;
  font-size: 18px;
  padding: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.nav-links-con {
  margin: 23px 11px -25px 0px;
}

.navActive {
  color: var(--platinum)!important;
  text-shadow: 1px 1px var(--blue);
  cursor: pointer;
}

.navbar-nav {
  opacity: 100%;
  text-align: center;
  margin: -30px 37px 0px -266px;
  
}

.login {
  color: var(--platinum)!important;
  text-shadow: 1px 1px var(--lapis);
  margin: -51px 14px 0px 0px;
}

/* HOME */

.typed-container {
  width: 100%;
}

.home-div {
  margin-top: 55px;
  background: var(--gunmetal);
  padding: 2rem 2rem 2rem 2rem;
}

.home-container {
  background-color: var(--gunmetal);
  justify-content: space-around;
}

.home-title {
  font-size: 50px;
  background: var(--platinum);
  padding: 2rem 2rem 2rem 2rem;
  color: var(--gunmetal);
  text-shadow: 1px 1px var(--blue);
  text-align: center;
  margin-bottom: 53px;

}

.home-rows {
  text-align: center;
}

.random-card {
  background-color: var(--gunmetal);
  border: solid 3px var(--platinum);
  box-shadow: 3px 3px var(--lapis);
  border-radius: 10px;
}

.random-title {
  color: var(--blue);
  padding-bottom: 19px;
  font-size: 25px;
}

.random-text {
  color: var(--platinum);
  padding-bottom: 10px;
}

.random-button  {
  color: var(--lapis);
  background-color: var(--platinum);
  border: solid 3px var(--lapis);
}

.random-button:hover {
  background-color: var(--blue);
  border: solid 3px var(--blue)

}


/* CAROUSEL  */

.carousel-caption {
  align-items: flex-start;
}

.carousel-img {
  width: auto;
  height: 65%;
}

.carousel-name {
  margin-bottom: 20%;
  color: var(--platinum);
}
.carousel-item {
  align-items: center;
}

/* COLLECTIONS */

.collections-header {
  padding-block: 30px;
  background-color: var(--platinum);
  color: var(--gunmetal);
  text-shadow: 1px 1px var(--blue);
  text-align: center;
}

.collections-container {
  display: flex;
  flex-direction: column;
  margin: -299px 0px 37px 471px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  width: 50%;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
}

.collection-count {
  margin: -15px 0px 23px 0px;
  padding-bottom: 10px;
  text-shadow: 1px 1px var(--blue);

}

.collection-cards {
  background-color: var(--platinum);
  width: auto;
  padding: auto;
  display: flex;
  justify-content: space-between;
}

.collection-card {
  background-color: var(--platinum);
  color: var(--gunmetal);
  font-weight: 200;
}

.add-collection-con {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.add-header {
  font-size: 25px;
  margin: 54px -4px -39px -1576px;
  display: flex;
  flex-direction: column;
  align-content: left;
  justify-content: flex-start;
}

.form-div{
  display: flex;
  margin: 70px 64px 41px -286px;
  flex-direction: column;
  align-content: left;
  justify-content: flex-start;
}
.add-form-item {
  display: grid;
  margin: 40px -16px 45px 477px;
  align-items: center;
  width: 100%;
}

.add-header {
  text-align: center;

}

.collection-block {
  text-align: center;
  margin-right: 10px;
}
.description-block {
  text-align: center;
  margin-right: 10px;
}
.category-block {
  text-align: center;
  margin-right: 10px;
}

.add-item-btn {
  width: 10%;
  margin: -10px 24px 0px 75px;
  align-items: center;
  color: var(--gunmetal);
  background-color: var(--platinum);
  margin-top: 1rem;
  border: 2px solid var(--blue);
  padding: 15px;
  border-radius: 8px;
}

.add-item-btn:hover {
  width: 10%;
  margin: -10px 24px 0px 75px;
  align-items: center;
  background-color: var(--platinum);
  margin-top: 1rem;
  border: 2px solid var(--blue);
  padding: 15px;
  border-radius: 8px;
  color: var(--platinum);
  background: -webkit-linear-gradient(45deg, var(--platinum), var(--blue));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all var(--timing) ease-in;
}

/* ABOUT */

.image-container {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-block: 30px;
  background-color: var(--gunmetal);
 
  text-align: center;
}

.intro-title {
  font-size: 20px;
  margin-bottom: -10px;
}

.intro-name {
  font-size: 50px;
  text-shadow: 1px 1px var(--blue);
}

.about-description {
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
}

.about-contact {
  text-align: center;
}

/* CONTACT */

.contacts {
  margin-top: 25px;
  text-align: center;
  width: 100%;
  
}

.contacts-title {
  text-shadow: 1px 1px var(--blue);
}

.form-button {
  margin-top: 3rem;
  border: 2px solid var(--blue);
  padding: 15px;
  border-radius: 10px;
}

.form-button:hover {
  transform: scale(1.1);
}

.contact-form {
  justify-items: center;
  width: 100%;
}

.form-input { 
  line-height: 2;
  width: 75%;
}

/* FOOTER */

footer {
  background: var(--gunmetal);
  padding: 2rem 2rem 2rem 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer h4 {
  color: var(--platinum);
  font-size: 18px;
  font-weight: lighter;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0 auto;
  text-align: center;
  transition: all 0.5s ease-out;
}

footer h4:hover {
  color: var(--blue);
}


/* SOCIAL MEDIA ICONS */

.social-container {
  width: 100%;
  margin: 2rem;
  text-align: center;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.list-item {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
  
}

.social-icons i {
  color: var(--gunmetal);
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all var(--timing) ease-out;
  
}

.social-icons a {
  display: inline-block;
  color: var(--platinum);
  text-decoration: none;
}

.social-icons a:before {
  transform: scale(var(--scale));
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, var(--platinum), var(--blue));
  transition: all var(--timing) ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all var(--timing) ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  color: var(--platinum);
  background: -webkit-linear-gradient(45deg, var(--lapis), var(--blue));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all var(--timing) ease-in;
}

/* MODAL */

.modal-open {
  overflow: hidden;
}
.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.modal-header {
  padding: 15px;
  background-color: var(--gunmetal);
  border-bottom: 1px solid var(--platinum);

}
.modal-header .close {
  margin-top: -2px;
  color: var(--platinum);
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
  color: var(--platinum);
  background-color: var(--gunmetal);
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
  background-color: var(--platinum);
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px var(--blue);
    box-shadow: 0 5px 15px var(--platinum);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

.clearfix:before,
.clearfix:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.clearfix:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
